@model SoftwareProjectManagementSystem.Models.Project
@{
    ViewData["Title"] = "Update Project Details";
}
<div class="container">
    <div class="container">
        <div class="d-flex align-items-center">
            <a class="no-underline text-secondary display-4 d-inline col-12 text-center" asp-controller="Admin" asp-action="Projects">
                Manage Projects
            </a>
        </div>
    </div>
    <hr>
    <form asp-action="Edit" method="post">
        <div class="card col-12 col-sm-6 col-md-6 mt-3 mx-auto">
            <div class="card-title text-center pt-3">
                <h4>Edit Details</h4>
            </div>
            <div class="card-body">

                <input type="hidden" asp-for="Id">
                <div class="form-group mb-3">
                    <label asp-for="Name">
                    </label>
                    <input asp-for="Name" class="form-control">
                    <small><span class="text-danger" asp-validation-for="Name"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Descrption">
                    </label>
                    <textarea asp-for="Descrption" class="form-control"></textarea>
                    <small><span class="text-danger" asp-validation-for="Descrption"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="StartDate">
                    </label>
                    <input asp-for="StartDate" class="form-control" type="date">
                    <small><span class="text-danger" asp-validation-for="StartDate"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="EndDate">
                    </label>
                    <input asp-for="EndDate" class="form-control" type="date">
                    <small><span class="text-danger" asp-validation-for="EndDate"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CreatedBy"></label>
                    <select asp-for="CreatedBy" asp-items="ViewBag.Users"></select>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CreatedFor"></label>
                    <select asp-for="CreatedFor" asp-items="ViewBag.Clients"></select>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PlannedAmount">
                    </label>
                    <input asp-for="PlannedAmount" class="form-control" type="number" step="0.01">
                    <small><span class="text-danger" asp-validation-for="PlannedAmount"></span></small>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary" asp-action="Index">Back to Projects</a>
                <button type="submit" class="btn btn-outline-dark">Edit</button>
            </div>
        </div>
    </form>

</div>
