@model SoftwareProjectManagementSystem.Models.User
@{
    ViewData["Title"] = "Create User";
}
<div class="container">
    <div class="d-flex align-items-center">
        <a class="no-underline text-secondary display-4 d-inline col-12 text-center" asp-controller="Admin" asp-action="Users">
            Manage Users
        </a>
    </div>
    <hr>
</div>
<div class="container">
    <form asp-action="Create" method="post">
        <div class="card col-12 col-sm-6 col-md-6 mt-3 mx-auto">
            <div class="card-title text-center pt-3">
                <h4>Create User</h4>
            </div>
            <div class="card-body">

                <div class="form-group mb-3">
                    <label asp-for="Name">
                    </label>
                    <input asp-for="Name" class="form-control">
                    <small><span class="text-danger" asp-validation-for="Name"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="EmployeeId">
                    </label>
                    <input asp-for="EmployeeId" class="form-control">
                    <small><span class="text-danger" asp-validation-for="EmployeeId"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email">
                    </label>
                    <input asp-for="Email" class="form-control">
                    <small><span class="text-danger" asp-validation-for="Email"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Phone">
                    </label>
                    <input asp-for="Phone" class="form-control">
                    <small><span class="text-danger" asp-validation-for="Phone"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DateOfBirth">
                    </label>
                    <input asp-for="DateOfBirth" class="form-control" type="date">
                    <small><span class="text-danger" asp-validation-for="DateOfBirth"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password">
                    </label>
                    <input asp-for="Password" class="form-control" type="password">
                    <small><span class="text-danger" asp-validation-for="Password"></span></small>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Role"></label>
                    <select asp-for="Role" asp-items="ViewBag.Roles"></select>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary" asp-action="Index">Back to Users</a>
                <button type="submit" class="btn btn-outline-dark">Create User</button>
            </div>
        </div>
    </form>

</div>
